<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hack it!</title>
    <meta name="description" content="t01. Hack it!">
    <style>
        .status {
            color: green;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<h1>Password</h1>

{{status}}

<form id="passwordForm" method="post">
    <b>Password not saved at session</b>
    <br>
    <label>
        <b>Password for saving in session</b>
        <input type="text" placeholder="Password to session" name="password">
    </label>
    <br>
    <label>
        <b>Salt for saving in session</b>
        <input type="text" placeholder="Salt to session" name="salt">
    </label>
    <input type="submit" value="Save">
</form>

</body>
</html>
