.dropdown-content {
    display: none;
    z-index: 1;
    position: absolute;
}

.dropdown {
    position: relative;
    width: fit-content;
}

.dropdown[data-disposition="down"]>.dropdown-content, .dropdown>.dropdown-content {
    left: 0;
    top: 100%;
}

.dropdown[data-disposition="up"]>.dropdown-content {
    left: 0;
    top: -100%;
}

.dropdown[data-disposition="left"]>.dropdown-content {
    left: -100%;
    top: 0;
}

.dropdown[data-disposition="right"]>.dropdown-content {
    left: 100%;
    top: 0;
}

.dropdown:hover>.dropdown-content {
    display: block;
}

/* other styles  */
main {
    display: flex;
    gap: 2.5px;
}

button {
    background-color: #c1c1c1;
    border: none;
    color: #1c1c1c;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    min-width: 200px;
    width: max-content;
}
button:hover {
    background-color: #999999;
}
