* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* ------------------------------------ * images */

.hide {
    display: none;
}

img {
    width: 100%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: .6
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .6
    }
    to {
        opacity: 1
    }
}


/* ------------------------------------ * buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.prev {
    border-radius: 0 6px 6px 0;
}

.next {
    right: 0;
    border-radius: 6px 0 0 6px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


/* ------------------------------------ * dots */

.dots {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}