.gauntlet {
    height: 200px;
}

.people img {
    width: 120px;
}

.gauntlet:hover+table tr:nth-child(odd) td:nth-child(odd) img,
.gauntlet:hover+table tr:nth-child(even) td:nth-child(even) img {
    visibility: hidden;
}
