<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Registration</title>
</head>
<body>
<form method="post" action="register">
    <label>
        Login
        <input type="text" name="login" required value="{{login}}" maxlength="30">
    </label>

    <label>
        Password
        <input type="password" name="password" required>
    </label>

    <label>
        Confirm password
        <input type="password" name="confirmPassword" required>
    </label>

    <label>
        Full name
        <input type="text" name="fullName" required value="{{fullName}}" maxlength="255">
    </label>

    <label>
        Email
        <input type="email" name="email" required value="{{email}}" maxlength="60">
    </label>

    <input type="submit" value="Register">
</form>
<span class="danger">&nbsp;{{error}}&nbsp;</span>
<a href="/login">Login</a>
</body>
</html>
