<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Reset Password</title>
</head>
<body>
<form action="reset-password" method="post">
    <label>
        Login or Email
        <input type="text" name="login" required maxlength="60">
    </label>
    <input type="submit" value="Remind">
</form>
<span class="{{class}}">&nbsp;{{message}}&nbsp;</span>
<a href="/login">Login</a>
</body>
</html>
