.cont {
    width: 500px;
    margin: auto;
}

#text {
    width: 485px;
    height: 120px;
    font-size: 50px;
    padding: 0;
    padding-left: 5px;
}

button {
    width: 120px;
    height: 120px;
    font-size: 50px;
    margin: 0;
    padding: 0;
    background-color: #A9E9FE;
    cursor: pointer;
} 