<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XML</title>
    <style>
        body {
            display: flex;
            justify-content: space-between;
        }

        body div {
            width: 50%;
            overflow: auto;
        }
    </style>
</head>
<body>
<div><pre>{{before}}</pre></div>
<div><pre>{{after}}</pre></div>
</body>
</html>
