form {
    width: 100%;
    display: flex;
}

form input {
    width: 100%;
}

form button {
    text-transform: uppercase;
}

form>* {
    color: green;
    height: 2em;
    padding: 10px auto;
}

form>*:hover {
    color: red;
}
