#rainbow-block {
    height: 100px;
    width: available;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

#horn-block {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 100px solid gray;

    margin: -40px 0 0 100px;
}
