<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Authorization</title>
</head>
<body>
<form method="post" action="login">
    <label>
        Login or Email
        <input type="text" name="login" required value="{{login}}" maxlength="60">
    </label>

    <label>
        Password
        <input type="password" name="password" required>
    </label>

    <input type="submit" value="Login">
</form>
<span class="danger">&nbsp;{{error}}&nbsp;</span>
<a href="/registration">Create an Account</a>
</body>
</html>
