* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1em;
}

label {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: right;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.danger {
    color: red;
}

input {
    font-size: 1em;
    padding: 10px;
}
