<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}} from Marvel API</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>{{name}} from Marvel API</h1>
{{body}}
</body>
</html>
