:root {
    --gap: 30px;
}

body {
    margin: 0;
    margin-bottom: var(--gap);
    background-color: wheat;
}

body>h1, body>h2 {
    text-align: center;
}

h2 {
    text-transform: uppercase;
}

.wide-grid, .straight-grid {
    display: grid;
    gap: var(--gap);
    margin: auto var(--gap);
}

.wide-grid {
    grid-template-columns: 1fr 1fr 1fr;
}

.straight-grid {
    grid-template-columns: 1fr 1fr;
}

.block {
    width: fill;
    gap: 10px;
    min-height: 10px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #fff;
}

@media screen and (max-width: 768px) {
    .wide-grid {
        grid-template-columns: 1fr 1fr;
    }
    .straight-grid {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 320px) {
    .wide-grid {
        grid-template-columns: 1fr;
    }
}
