main {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px;
}

.card {
    width: 270px;
    min-width: 270px;
    height: 140px;
    min-height: 140px;
    border-radius: 5px;
    font-family: Verdana;
    background-color: rosybrown;
    padding: 10px;
}

.card img {
    height: 182px;
    bottom: 32px;
    position: relative;
    float: left;
}

.card .info {
    float: right;
    text-align: right;
    position: relative;
}

.card .info .name {
    color: white;
    font-size: 12px;
}

.card .info .real-name {
    color: rgba(255, 255, 255, 0.5);
    font-size: 9px;
}

.card.spider-man img {
    bottom: 10px;
}

.captain-america {
    background: linear-gradient(#4568dc, #b06ab3);
}

.iron-man {
    background: linear-gradient(#e52d27, #b31217);
}

.black-widow {
    background: linear-gradient(90deg, #61045f, #000);
}

.spider-man {
    background: linear-gradient(#e52d27, #000);
}
