h1 {
    background-color: red;
    text-align: center;
}

h1>span {
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 4em;
    
    height: 0.92em;
    display: inline-block;
    vertical-align: bottom;
}
