.ball {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: lime;
    animation: slide 1s ease-in-out alternate infinite;
    transition: background-color 2s ease-in-out;
}

.ball:hover {
    background-color: red;
}

@keyframes slide {
    to {
        margin-left: calc(100% - 150px);
    }
}
