h1 {
    margin: 40px;
}

.box {
    position: relative;
    margin: auto;
    width: calc(100vw - 200px);
    padding: 25px;
    font-size: 1.2em;
    background: lightgray;
}

.box::before {
    content: "";
    position: absolute;

    width: calc(100% + 50px);
    height: calc(100% - 1px);

    top: 0;
    left: -25px;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.box::after {
    content: "";
    position: absolute;

    height: calc(100% + 50px);
    width: calc(100% - 1px);

    left: 0;
    top: -25px;

    border-left: 1px solid black;
    border-right: 1px solid black;
}