<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show other sites</title>
</head>
<body>
<h1>Show other sites</h1>
<form action="search" method="get">
    <input type="text" name="search" id="search" placeholder="url">
    <input type="submit" value="go">
    <a href="/">BACK</a>
</form>
<hr>
<div>
    {{url}}
    <hr>
    <pre>
{{body}}
    </pre>
</div>
</body>
</html>
