<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cookie counter</title>
</head>
<body>
<h1>Cookie counter</h1>
<p>This page was loaded {{number}} time(s) in last minute</p>
</body>
</html>
