h1 {
    text-align: center;
}

form {
    width: 100%;
    display: flex;
}

form input {
    width: 100%;
}

form button {
    text-transform: uppercase;
}

form>*,form input::placeholder {
    color: green;
    height: 2em;
    padding: 10px auto;
}

form>*:hover, form input:hover::placeholder {
    color: red;
}
