<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
You registered successfully as {{name}}
</body>
</html>
