main {
    display: grid;
    grid-template: 1fr / repeat(7, 1fr);
    gap: 5px;
    width: max-content;
}

.card {
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 130px;
    height: 200px;

    transition: all .2s ease-in;
    background-color: white;
}

.card:hover {
    box-shadow: -1px 1px 11px 4px #4095b680;
}

.card img {
    width: inherit;
}

.card .date {
    font-size: 1.5em;
    font-weight: 700;
    background-color: #4095b6;
    color: white;
}

.card .temperature {
    font-weight: 400;
    font-size: 2em;
}
