<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Session for new</title>
    <meta name="description" content="t00. Session for new">
    <style>
        form {
            border: 2px solid gray;
            padding: 20px;
        }
    </style>
</head>
<body>
<h1>Session for new</h1>
<div id="sessionData">
    <pre id="dataView">{{data}}</pre>
    <form id="forgetForm" action="clear">
        <button type="submit">Forget</button>
    </form>
</div>
</body>
</html>
