table {
    text-align: center;
    border-collapse: collapse;
    background: linear-gradient(to right, #6e0000, antiquewhite);
    border: 4px solid black;
}

thead {
    color: #ffe369;
    font-weight: bold;
    background-color: rgba(110, 0, 0, 0.4);
    border: 2px solid rgba(189, 195, 199, 0.05);
    padding: 10px;
    text-transform: uppercase;
}

th {
    padding: 10px;
    border: 2px solid rgba(189, 195, 199, 0.05);
}

tbody th {
    color: white;
    font-weight: bold;
    padding: 5px 50px;
}

tfoot th {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: rgba(143, 148, 251, 0.1);
}

td {
    background: antiquewhite;
    color: midnightblue;
    padding: 5px 50px;
    border: 2px solid rgba(189, 195, 199, 0.05);
}

a {
    color: white;
    font-weight: bold;
    padding: 10px;
}

.danger {
    background-color: darkred;
    color: white;
}
