table {
    border-collapse: collapse;
    text-align: center;
    border-bottom: 1px solid grey;
}

table img {
    height: 120px;
    width: 120px;
    border-radius: 30px;
}

thead {
    background-color: black;
    color: white;
}

td {
    padding: 10px;
}

tbody td {
    border: 1px solid white;
}

tbody tr:last-child td {
    border-bottom: none;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

tfoot {
    border: 1px solid lightgray;
    border-top: none;
}

tr.soul {
    background-color: #d7923e;
}

tr.time {
    background-color: #018001;
}

tr.space {
    background-color: #005793;
}

tr.mind {
    background-color: #feff06;
}

tr.reality {
    background-color: #c02a2e;
}

tr.power {
    background-color: #8275b8;
}
